[Unit]
Description=Pirl Master Node

[Service]
EnvironmentFile=/etc/pirlnode-env

Type=simple
User={{ RUNAS_USER }}
Group={{ RUNAS_USER }}

ExecStart=/usr/local/bin/pirl-linux-amd64
Restart=always

[Install]
WantedBy=default.target
