---
- hosts: localhost
  pre_tasks:
    - name: INCLUDE USER SETTINGS
      include_vars:
        file: env.cfg

    - name: RUN HARDWARE AND CONFIGURATION CHECKS
      include_role:
        name: "{{ item }}"
      with_items:
        - 'ram_check'
        - 'public_ip_check'
        - 'token_masternode_check'

    - name: UPDATE OS AND INSTALL REQUIRED PACKAGES AND MODULES
      include_role:
        name: install_packages

  tasks:
    - name: CONFIGURE USER FOR PIRL MASTERNODE SERVICE
      user:
        name: "{{RUNAS_USER}}"
        state: present
        shell: /bin/bash

    - name: HARDEN THE MACHINE
      include_role:
        name: "{{ item }}"
      with_items:
        - 'ufw'
        - 'fail2ban'

    - name: PIRL MASTERNODE
      include_role:
        name: pirl_mn
